body, html {
  margin: 0 auto;
  z-index: 1;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/Quicksand-Regular.otf');
}

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../fonts/quicksand/Quicksand-Bold.otf");
}

@font-face {
  font-family: "Quicksand-Light";
  src: url("../fonts/quicksand/Quicksand-Light.otf");
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  outline: none;
}

section {
  position: relative;
  top: 0;
}

.container .fa {
  margin-right: 5px;  
}

button {
  padding: .2em;
  font-size: 1.1em;
  border-radius: 10px;
  border-style: none;
  font-family: 'Quicksand-Light';
  color: black;
  background-color: white;
  border: 3px solid orange;
  position: relative;
  margin: 0 auto;
  margin-right: 3em;
  margin-top: 1em;
  transition: all 0.8s ease;
  position: relative;
}

.music {
  padding: 1em;
}

.more {
  padding: 1em .7em;
}

button:hover {
  background-color: #6ec5b8;
  color: white;
  border: 3px solid white;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  border-radius: 50%;
}

a.iron-yard {
  color: orange;
}

a.iron-yard:visited {
  color: orange; 
}

/*****************************
Navbar
*****************************/

.navbar {
  z-index: 99;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  height: 5em;
  top: 0;
  background-color: rgba(235, 235, 235, 0.85);
  box-shadow: 0 0 5px black;
}

.navbar .fa {
  display: none;
  position: relative;
  margin: 0 auto;
  left: .5em;
  top: .15em;
  color: orange;
  transition: all .8s ease;
}

.navbar .fa:hover {
  color: rgba(0, 0, 0, .6);
}

.main-nav {
  position: relative;
  float: right;
  right: 5px;
  height: 100%;
  top: -10px;
  font-size: .9em;
}

.main-nav li {
  position: relative;
  display: inline;
  padding: .7em;
  top: 1.7em;
  border-style: none;
  color: black;
  border-radius: 15px;
  transition: all .8s ease;
}

.main-nav li:hover {
  background-color: rgba(0, 0, 0, .6);
  color: orange;
}

/*****************************
Section 1 Styling
*****************************/

.parallax-1 {
  text-align: center;
   -webkit-filter: grayscale(100%);
         filter: gray;
}

.parallax-1 h1 {
  position: relative;
  top: 1.5em;
}

#me {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  border: 3px solid white;
  position: absolute;
  left: 24%;
  top: -7.5em;
  margin: 2em;
  clear: both;
  z-index: 98;
}

.parallax-1 p, .parallax-1 span, .parallax-1 ul {
  font-size: 1.3em;
  font-family: 'Quicksand-Bold', sans-serif;
}

.music-window, .more-window {
  display: none;
  position: fixed;
  background-color: #6ec5b8;
  width: 85%;
  height: 85%;
  margin: 0 auto;
  padding: 5%;
  z-index: 100;
  padding: 1em;
  top: 2em;
  right: 6%;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  overflow: scroll;
}

.music-window h2, .more-window h2 {
  text-align: center;
}

.fa-times {
  position: relative;
  padding: .5em;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  float: right;
  margin: 0 0 1em 100em;
  clear: both;
}

.fa-times:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

/*****************************
Section 2 Styling
*****************************/

.gallery-container {
  text-align: center;
}

.portfolio-text {
  margin-bottom: 4em;
}

.gallery {
  padding: 0;
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: -2em;
}

.gallery h2 {
  font-size: 1.5em;
  font-family: 'Roboto Slab';
  margin: 0;
}

.gallery li {
  display: inline-block;
  padding: 1em;
  margin: auto;
  margin-bottom: 2em;
  width: 80%;
  /*height: 25em;*/
  background-color: rgba(235, 235, 235, 0.85);
  border-radius: 15px;
  text-align: center;
  transition: all .8s ease;
}

.gallery li h2 {
  font-size: .7em;
}

.gallery img {
  width: 80%;
  border: 1px solid black;
  /*margin-left: 10%;*/
}

.gallery li:hover {
  background-color: #6ec5b8;
  color: white;
  box-shadow: 0 0 5px gray;
  border-radius: 0;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

/*****************************
Section 3 Styling
*****************************/

/***************************
Footer
***************************/

.contact-links li {
  padding: .9em .2em;
  font-size: 1.1em;
  border-radius: 50%;
  border-style: none;
  font-family: 'Quicksand-Light';
  color: black;
  position: relative;
  margin: 0 auto;
  margin-right: 3em;
  margin-top: 1em;
  border: 3px solid white;
  box-shadow: 0 0 3px gray;
  transition: all 0.8s ease;
  display: block;
  width: 15%;
  right: 35%;
}

.contact-links li .fa {
  position: relative;
  left: 20%;
  color: black;
}

.contact-links li .fa:nth-child(2) {
  left: 50%;
} 

.contact-links li:hover {
  background-color: #6ec5b8;
  color: white;
  border: 3px solid white;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  border-radius: 15px;
}

.contact-links a {
  color: black;
}

.contact-links a:hover {
  color: white;
}

.contact-links a:visited {
  color: black;
}

.footer p {
  text-align: center;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em;
}

h1 { 
  position: relative;
  top: 1em;
  font-family: 'Droid Serif', serif;
}

h1:nth-child(2), h1:last-child {
  top: 2em;
}

h2 {
  font-family: "Roboto Slab", serif;
}

p, span, ul {
  font-family: 'Quicksand', sans-serif;
}

p {
  line-height: 1.4em;
}

.module {
  position: relative;
  top: 5em;
}

.btn li {
  display: inline;
  margin: 0 auto;
}

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;

}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  min-height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: gray;
}
section.module.parallax h1 {
  color: rgb(255, 255, 255);
  font-size: 5em;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}

section.module.parallax h1 {
  line-height: 1em;
  font-size: 2em;
}

section.module.parallax-1 {
  background-image: url("../img/old-music.jpg");
}
section.module.parallax-2 {
  background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2014/04/29/346133/0db2c41b85ad1187bdeabb18f976cd40.jpg");
}
section.module.parallax-3 {
  background-image: url("http://scripted.com/wp-content/uploads/2014/02/Contact_Background.png");
}


@media all and (min-width: 760px) {
  section.module h2 {
    font-size: 42px;
  }
  .module {
    top: 5em;
  }
  section.module.parallax h1 {
    font-size: 5em;
  }
  section.module.parallax {
    height: 600px;
  }
  .main-nav li {
    top: 1.5em;
    width: 50%;
    font-size: 1.2em;
    padding: 1em;
  }
  .gallery li {
    margin: 2%;
    width: 40%;
    vertical-align: top;
  }
  .contact-links li .fa {
    top: 5px;
    left: 5px;
  }
  .contact-links li{
    display: inline;
    left: 25%;
  }
  #me {
    height: 250px;
    width: 250px;
    left: 30%;
    top: -10em;
  }
}
@media all and (min-width: 1080px) {
  section.module.parallax h1 {
    font-size: 6em;
  }
  .module {
    top: 5em;
  }
  section.module.parallax {
    height: 650px;
  }
  .main-nav li {
    top: 24px;
    font-size: 1.4em;
    padding: 1.45em;
    border-radius: 0px;
    right: -7px;
  }
  .navbar .fa {
    left: 1.7em;
  }
  .contact-links li {
    left: 20%;
  }
  .contact-links li {
    padding: .2em;
    font-size: 1.1em;
    color: black;
    position: relative;
    margin: 0 auto;
    margin-right: 3em;
    margin-top: 1em;
    left: 15%;
    display: inline;  }

  .contact-links li:first-child {
    padding: 2em 1.4em;
  }

  .contact-links li:nth-child(2) {
    padding: 2em 1.5em;
  }

  .contact-links li:nth-child(3) {
    padding: 2em 1.8em;
  }

  .contact-links li:last-child {
    padding: 2em 1.6em;
  }
  #me {
    height: 300px;
    width: 300px;
    left: 35%;
    top: -11em;
  }
  .gallery li {
    margin: 2.25%;
    width: 25%;
  }
}