body, html {
  margin: 0 auto;
}

@font-face {
  font-family: 'Quicksand';
  src: url('fonts/quicksand/Quicksand-Regular.otf');
}

@font-face {
  font-family: "Quicksand-Bold";
  src: url("fonts/quicksand/Quicksand-Bold.otf");
}

@font-face {
  font-family: "Quicksand-Light";
  src: url("fonts/quicksand/Quicksand-Light.otf");
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  position: relative;
  top: 0;
}

button {
  padding: .4em;
  font-size: 1em;
  border-radius: 5px;
  border-style: none;
  font-family: Quicksand-Light;
  background: linear-gradient(black, silver, lightgrey;
  color: white;
  position: relative;
  margin: 0 auto;
  margin-right: 3em;
  margin-top: 1em;
}

button:hover {
  box-shadow: inset 0 0 2px black;
  background: linear-gradient(orange, white);
  cursor: pointer;
}

/*****************************
Navbar
*****************************/

.navbar {
  z-index: 100;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  height: 5em;
  top: 0;
  background-color: rgba(235, 235, 235, 0.85);
  box-shadow: 0 0 3px black;
}

.navbar .fa {
  position: relative;
  margin: 0 auto;
  left: .5em;
  top: .15em;
  color: orange;
}

.navbard .fa:hover {
  color: black;
}

.main-nav {
  position: relative;
  float: right;
  right: 5px;
  height: 100%;
  top: -10px;
  font-size: .9em;
}

.main-nav li {
  position: relative;
  display: inline;
  padding: .7em;
  top: 1.7em;
  /*font-size: 1.5em;*/
  border-style: none;
  color: black;
  border-radius: 15px;
}

.main-nav li:hover {
  background-color: rgba(0, 0, 0, .6);
  color: orange;
}

/*****************************
Section 1 Styling
*****************************/

.parallax-1 {
  text-align: center;
}

.legible {
  background-color:rgba(235, 235, 235, 0.5);
  max-width: 40em;
  max-height: 6em;
  padding: 1em;
  padding-bottom: 2em;
  margin: 0 auto;
  position: relative;
  top: 3em;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.46);
  text-shadow: 0 0 1px white;
}

.parallax-1 p, .parallax-1 span, .parallax-1 ul {
  font-size: 1.3em;
  font-family: 'Quicksand-Bold', sans-serif;
}

/*****************************
Section 2 Styling
*****************************/

/*****************************
Section 3 Styling
*****************************/

/***************************
Footer
***************************/

.contact-links li {
  display: block;
  margin: 0 auto;
  float: left;
  left: 1em;
  right: 2em;
  list-style: none;
  color: orange;
  height: 60px;
  width: 60px;
  padding: 2em;
  position: relative;
}

.contact-links a:visited {
  color: orange;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em;
}

h1 { 
  position: relative;
  top: 1em;
}

h1:nth-child(2), h1:last-child {
  top: 2em;
}

h2 {
  font-family: "Roboto Slab", serif;
}

p, span, ul {
  font-family: 'Quicksand', sans-serif;
}

p {
  line-height: 1.4em;
}

.module {
  position: relative;
  top: 5em;
}

.btn li {
  display: inline;
  margin: 0 auto;
}

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;

}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
/*section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}*/
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  min-height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.85);
  font-size: 5em;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

section.module.parallax h1 {
  line-height: 1em;
  font-size: 2em;
}

section.module.parallax-1 {
  background-image: url("img/old-music.jpg");
}
section.module.parallax-2 {
  background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2014/04/29/346133/0db2c41b85ad1187bdeabb18f976cd40.jpg");
}
section.module.parallax-3 {
  background-image: url("http://p1.pichost.me/i/44/1674639.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  .module {
    top: 5em;
  }
  section.module.parallax h1 {
    font-size: 5em;
  }
  section.module.parallax {
    height: 600px;
  }
  .main-nav li {
    top: 1.5em;
    font-size: 1.2em;
    padding: 1em;
  }
  .contact-links {
    display: block;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 6em;
  }
  .module {
    top: 5em;
  }
  section.module.parallax {
    height: 650px;
  }
  .main-nav li {
    top: 1.2em;
    font-size: 1.4em;
    padding: 1.40em;
    border-radius: 0px;
    right: -7px;
  }
  .navbar .fa {
    left: 1.7em;
  }
  .contact-links {
    display: inline;
    left: 2em;
    right: 2em;
  }
}